
{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}


body{
    background: #555;
   /* color:#aaa;*/
    color:#d6d6d6;
    
}

a:link {
    color: #BB772D;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #BB772D;
}
a:hover {
    text-decoration: none;
    color: #f00;
}
a:active {
    text-decoration: none;
    color: #BB772D;
}

td, th {
    color: #A0522D;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

p {
    color: #d0d0d0;
}


.note{
    color:#cc4725;
    font-weight: bold
}
.container-full{
    width:100%;
    padding:20px 0;
}
.container-full::after, .navbar::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.navbar-list {
    list-style: outside none none;
    margin-bottom: 0px;
}
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0px;
}
.navbar{
    width: 100%;
    /*background: #ECECEC none repeat scroll 0% 0%;*/
    /*border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;*/
}
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}
.post.date{
    padding:30px 0;
}
.post.date h2 {
    font-size: 4rem;
    margin-bottom: 0;
}
.post.date .date{
    font-style: italic;
}
.banner>img, .five.columns img{
    width: 100%
}
code{
    background-color: #222;
}

@media (min-width: 750px) {
    .seven.columns{
        border-right:1px solid #d8d8d8;
        padding-right:30px;
    }
}


/*  -------------Original CSS for Project 1 and Index--------*/


/*a:link {
    color: #F00;
    text-decoration: none;
}*/



.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #668;
    box-sizing: border-box;
    padding: 0 40px;
}

.item_container {
    background-color: #656565;
    box-sizing: border-box;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 40px;
    clear: both;
}

.item_container_wpix {
    background-color: #656565;
    box-sizing: border-box;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 40px;
    clear: both;
}

.header {
 padding: 40px;
}

.item_left, .item_right, .item_smallleft, .item_largeright {
    float:left;
}

.item_left{
    width:450px;
    margin-right: 30px;
}

.item_right{
    width:550px;
    margin-right: 0px;
}

.item_archive{
    width:1000px;
    padding: 15px;
    font-size:20px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: #eee;
    background-color: #aaa;
}

 .item_archive:hover{
    width:1000px;
    margin-right: 0px;
    font-size:20px;
    color : #FFF;
    margin-bottom: 10px;
    color: #fff;
    background-color: #777;
}


.item_smallleft{
    width:350px;
    margin-right: 30px;
}

.item_largeright{
    width:650px;
    margin-right: 0px;
}


.item_left img.videopix, .item_right img.videopix {
    width: 400px;
    height:250px;
    /*border:4px solid white;*/
     border:4px solid #aaa;
}

.item_smallleft img.smallvideopix, .item_largeright img.smallvideopix {
    width: 300px;
    border:4px solid green;
}


.item_smallleft img.docpix, .item_largeright img.docpix {
    width: 300px;
    height: 260px;
    
}


.vid_title {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #ddd;
    background-color: #556;
    margin-bottom: 10px;
}


.vlog_date {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size:10px;
    font-style:oblique;
    
    background-color: #656565;
    margin-bottom: 20px;
}



.statement_text {

    background-color: #666;
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}





